<article class="container">
    <section class="--flex">
        <h2 class="container__title">Mahogany Special Edition</h2>
        <h2 class="container__pledge">Pledge $200 or more</h2>
    </section>
    <p class="container__desc">You get two Special Edition Mahogany stands, a Backer t-shirt, and a personnal thank you. You'll be added to our Backer member list. Shipping is included.</p>
    <section class="--flex">
        <h3 class="container__pledgeLeft">0 <span class="container__pledgeLeft--sub">left</span></h3>
        <button class="container__btn" disabled>Out of stock</button>
    </section>
</article>