// $color-font: hsl(0, 0%, 15%);
// $color-font-light: hsl(0, 0%, 40%);

// $btn-bg: hsl(176, 50%, 47%);
// $btn-bg-hover: #26736f;

$dark-grey: hsl(0, 0%, 15%);
$light-grey: hsl(0, 0%, 40%);

$light-cyan: hsl(176, 50%, 47%);
$dark-cyan: #26736f;