@import '../../../sass/variable.scss';

.modal {
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.24));
}

.modalBurger {
    background-color: white;
    margin: 8rem auto;
    border-radius: 1rem;
    width: 30rem;
}

.modalBurger__links {
    list-style-type: none;
}

.modalBurger__link {
    padding: 2rem 0;
}

.modalBurger__link:not(:last-child) {
    border-bottom: 1px solid rgb(211, 211, 211);
}

.modalBurger__link a {
    text-decoration: none;
    color: $dark-grey;
    font-size: 1.8rem;
    font-weight: 700;
    padding-left: 2rem;
}