<article class="container">
    <section class="--flex">
        <h2 class="container__title">Bamboo Stand</h2>
        <h2 class="container__pledge">Pledge $25 or more</h2>
    </section>
    <p class="container__desc">You get an ergonomic stand made of natural bamboo. You've helped us launch our promotional campaing, and you'll
        be added to a special Backer member list.</p>
    <section class="--flex">
        <h3 class="container__pledgeLeft">101 <span class="container__pledgeLeft--sub">left</span></h3>
        <button (click)="settings.openBackModal()" class="container__btn">Select Reward</button>
    </section>
</article>