<article class="container">
    <div class="datas">
        <h2 class="datas__title">${{settings.currMoney}}</h2>
        <h3 class="datas__subtitle">of $100.000 backed</h3>
    </div>
    <div class="line"></div>
    <div class="datas">
        <h2 class="datas__title">{{settings.currBackers}}</h2>
        <h3 class="datas__subtitle">total backers</h3>
    </div>
    <div class="line"></div>
    <div class="datas last">
        <h2 class="datas__title">{{settings.currDays}}</h2>
        <h3 class="datas__subtitle">days left</h3>
    </div>

    <app-progress-bar class="progressBar"></app-progress-bar>
</article>